<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  
  <filter>
  	<filter-name>CharacterEncoding</filter-name>
  	<filter-class>filter.EncodingFilter</filter-class>
  </filter>
  <filter>
  	<filter-name>AdminIntercept</filter-name>
  	<filter-class>filter.AdminFilter</filter-class>
  </filter>
  
  <filter-mapping>
  	<filter-name>CharacterEncoding</filter-name>
  	<url-pattern>/*</url-pattern>
  	<dispatcher>REQUEST</dispatcher>
  </filter-mapping>
  <filter-mapping>
  	<filter-name>AdminIntercept</filter-name>
  	<url-pattern>/admin/*</url-pattern>
  	<dispatcher>REQUEST</dispatcher>
  	<dispatcher>FORWARD</dispatcher>
  </filter-mapping>
  
  
  
  <servlet>
    <servlet-name>AddMessage</servlet-name>
    <servlet-class>servlet.AddMessage</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddArticle</servlet-name>
    <servlet-class>servlet.AddArticle</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeleteArticle</servlet-name>
    <servlet-class>servlet.DeleteArticle</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddImage</servlet-name>
    <servlet-class>servlet.AddImage</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddAnime</servlet-name>
    <servlet-class>servlet.AddAnime</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeleteAnime</servlet-name>
    <servlet-class>servlet.DeleteAnime</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>BatchDeleteAnime</servlet-name>
    <servlet-class>servlet.BatchDeleteAnime</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ArticleImageUpload</servlet-name>
    <servlet-class>servlet.ArticleImageUpload</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>BatchDeleteArticle</servlet-name>
    <servlet-class>servlet.BatchDeleteArticle</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LoginCheck</servlet-name>
    <servlet-class>servlet.LoginCheck</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeleteMessage</servlet-name>
    <servlet-class>servlet.DeleteMessage</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>BatchDeleteMessage</servlet-name>
    <servlet-class>servlet.BatchDeleteMessage</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdateArticle</servlet-name>
    <servlet-class>servlet.UpdateArticle</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeleteImage</servlet-name>
    <servlet-class>servlet.DeleteImage</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>BatchDeleteImage</servlet-name>
    <servlet-class>servlet.BatchDeleteImage</servlet-class>
  </servlet>







  <servlet-mapping>
    <servlet-name>AddMessage</servlet-name>
    <url-pattern>/addMessage.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddArticle</servlet-name>
    <url-pattern>/admin/addArticle.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteArticle</servlet-name>
    <url-pattern>/admin/deleteArticle</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddImage</servlet-name>
    <url-pattern>/admin/AddImage</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddAnime</servlet-name>
    <url-pattern>/admin/AddAnime</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteAnime</servlet-name>
    <url-pattern>/admin/DeleteAnime</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BatchDeleteAnime</servlet-name>
    <url-pattern>/admin/BatchDeleteAnime</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ArticleImageUpload</servlet-name>
    <url-pattern>/admin/articleImageUpload.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BatchDeleteArticle</servlet-name>
    <url-pattern>/admin/BatchDeleteArticle</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginCheck</servlet-name>
    <url-pattern>/LoginCheck</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteMessage</servlet-name>
    <url-pattern>/admin/deleteMessage.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BatchDeleteMessage</servlet-name>
    <url-pattern>/admin/batchDeleteMessage.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateArticle</servlet-name>
    <url-pattern>/admin/updateArticle.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteImage</servlet-name>
    <url-pattern>/admin/deleteImage.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BatchDeleteImage</servlet-name>
    <url-pattern>/admin/batchDeleteImage.do</url-pattern>
  </servlet-mapping>
  
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
